*{
	box-sizing border-box;
}
html {
	width: 100%;
	height: 100%;
}
body{
	font-family: "Roboto-light";
	width: 100%;
	text-align: center;
	padding:0;
	margin:0;
	width: 100%;
	height: 100%;
}
.clearfix:before, .clearfix:after{
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
/*START : Contenedor Principal*/
.container{ 
	width: 100%;
	height: 100%;
	text-align: center;
}
.header{
	width: 100%;
	height: 100%;
	background-size:cover;
	background-image: url(../img/header.jpg);
}
.button-sumate {
	background-color: #FCBA43;
  border-radius: 3px;
  position: fixed;
  padding: 15px;
  height: 15px;
  color: white;
  width: 70px;
  left: 66px;
  top: 92px;
}
.button-sumate:hover{
  background-color: rgb(250, 247, 115);
}
.navigation{
	position: absolute;
	width: 33%;
	right: 1%;
	top: 10%;
}
li {
	display: inline-block;
	padding: 20px;
}
a{
	text-decoration: none;
 	color: white;
}
.texto-laboratoria{
	padding-top: 300px;
	color: white;
}
/*End Menú */
.grid{
	background-color: #EDEDED;
	padding:20px;
}
.grid-content{
	margin: 0 10%;
}
.row{
	float: left;
  width: 50%;
}
.col{
	background-color: white;
  padding: 16px;
  float: left;
  margin: 7px;
}
p , h3 {
 	color: #C0C0BC;
}
.content-img > img{
	width: 80%;
	height: 50%;
	margin: 0 auto;
}
span {
	color: white;
}
.button-vermas{
	background-color: #FCBA43; 
  width: 116px;
  height: 35px;
  padding-top: 15px;
  margin-top: 35px;
  color: white;
}
.button-vermas:hover{
  background-color: rgb(250, 247, 115);
}
.footer{
	height: 80px;
	background-color: #262624;
	padding: 10px;
	color: white;
}